<html>
<head>
	<title>Account Activated</title>
</head>
<body>
<p><img alt="The 2 Day Wythenshawe Programme" src="%genesis_logo%" style="width: 180px; height: 180px;" /></p>

<p>Welcome to the 2 Day Wythenshawe Programme</p>

<p>Your account has been activated.  You can log in using the details you were sent in your registration email.</p>

<p>Access the website here, and start recording your values:<br />
    <a href="%site_url%">2 Day Wythenshawe Programme</a>
</p>

<p>Thanks,<br />
The 2 Day Wythenshawe Programme Team</p>

<p>&nbsp;</p>
</body>
</html>