<html>
<head>
	<title>Account Activated</title>
</head>
<body>
<p><img alt="Prevent Breast Cancer" src="%genesis_logo%" style="width: 160px; height: 102px;" /></p>

<p>Welcome to the PROCAS Lifestyle Research Study</p>

<p>Your account has been activated.  You can log in using the details you were sent in your registration email.</p>

<p>Access the website here, and start recording your values:<br />
    <a href="%site_url%">The PROCAS Lifestyle Research Study</a>
</p>

<p>Thanks,<br />
The PROCAS Lifestyle Research Team</p>

<p>&nbsp;</p>
</body>
</html>