<html>
<head>
	<title>Losing Weight</title>
</head>
<body>
<p><img alt="The 2 Day Wythenshawe Programme" src="%genesis_logo%" style="width: 160px; height: 160px;" /></p>

<p>Dear %user_nicename%,</p>
<p>You have recorded a weight on the 2 Day Wythenshawe Programme website which suggests that you have gained some weight.<p>
<p>We know it is important to get to grips with weight re-gain early on. Weight loss can significantly reduce your risk of breast cancer, heart disease and diabetes. Re-gaining even a small amount of weight can undo your hard work. Don’t worry though, weight re-gain can happen to us all and there is lots that can be done to get you back on track!</p>
<p>First things first - it might be worth checking that you are weighing yourself correctly. Avoid weighing yourself immediately following your diet (restricted) days as people tend to lose body water (as well as body fat) around this time. As you regain some body water on your Mediterranean (non-diet) days this will look like weight gain on the scales. One way around this would be to weigh yourself weekly on the morning of your first diet day each week. Try and wear similar clothes and use the same scales.</p>
<p>If you are weighing yourself correctly and your weight is still increasing then maybe it’s time to check a few things:</p>
<ul>
	<li>Are your portion sizes starting to creep up? Try re-weighing some foods you eat regularly - it can be easy to overdo foods we pour out like cereals, pasta or oil.</li>
	<li>Are you including more treat foods or alcohol?</li>
	<li>Are you being as active?</li>
</ul>

<p>There are lots of ideas on the 2 Day Wythenshawe Programme website to get you back on track. Don’t forget the <a href="%keeping_the_weight_off_link%" target="_blank">'The 2 Day Diet: keeping the weight off'</a> booklet and our FAQ section with lots of <a href="%hints_and_tips_link%" target="_blank">hints and tips</a> around making the 2 day diet work for you, such as when you are eating out. Also how about re-visiting our <a href="%diet_day_link%" target="_blank">diet day</a> and <a href="%med_day_link%" target="_blank">Mediterranean day</a> recipes to vary your meals and snacks, or our monthly <a href="%newsletters_link%" target="_blank">newsletters</a> for seasonal ideas?<p>
	
<p>Remember that maintaining any weight you have lost is a fantastic achievement and will have benefits for your health.</p>
<p>If you have any specific questions for the team then you can contact us on 0161 291 4412 or email us at <a href="mailto:%contact_email%">%contact_email%</a></p>
<p>Wishing you all the best and looking forward to seeing you at your 12 month appointment.<br />
The 2 Day Wythenshawe Team.</p>

<p><strong>Note: This email is intended as a means of support if you feel you need it. Please discard this email if you feel it isn’t appropriate for you. We understand that weight naturally fluctuates from one day to the next, or due to things like holidays that aren’t the norm. If you would like to unsubscribe from these emails then please contact us directly to let us know at <a href="mailto:%contact_email%">%contact_email%</a>.</strong></p>



</body>
</html>