<html>
<head>
	<title>Losing Weight</title>
</head>
<body>
<p><img alt="The 2 Day Wythenshawe Programme" src="%genesis_logo%" style="width: 160px; height: 160px;" /></p>

<p>Dear %user_nicename%,</p>
<p>You have recorded a weight on the 2 Day Wythenshawe Programme website which suggests that you have lost weight.</p>

<p>If you had hoped to lose weight then you are now one step closer to your target weight, so well done! Weight loss can significantly reduce your risk of breast cancer, heart disease and diabetes. Just remember to keep an eye on your personal <a href="%healthy_weight_range_link%" target="_blank">healthy weight range</a> (calculated by your dietitian), so you know what weight is safe and healthy for you.</p>

<p>If you have lost weight but you had intended to maintain your weight, then maybe it’s time to consider doing one diet (restricted) day per week rather than two (if you are not already) which will help you to maintain your weight. Alternatively if you have increased your activity levels recently then this is great news for your health, but you may need to think about having a few more healthy snacks in the day to compensate for the extra calories you burn during exercise.</p>

<p>There are lots of ideas on the 2 Day Wythenshawe Programme website. Don’t forget our FAQ section with lots of <a href="%hints_and_tips_link%" target="_blank">hints and tips</a> around making the 2 day diet work for you, such as when you are eating out. Also how about re-visiting our <a href="%diet_day_link%" target="_blank">diet day</a> and <a href="%med_day_link%" target="_blank">Mediterranean day</a> recipes to vary your meals and snacks, or our monthly <a href="%newsletters_link%" target="_blank">newsletters</a> for seasonal ideas?
If you have any specific questions for the team then you can contact us on 0161 291 4412 or email us at <a href="mailto:%contact_email%">%contact_email%</a></p>

<p>Wishing you all the best and looking forward to seeing you at your 12 month appointment.<br />
The 2 Day Wythenshawe Team.</p>

<p><strong>Note: This email is intended as a means of support if you feel you need it. Please discard this email if you feel it isn’t appropriate for you. We understand that weight naturally fluctuates from one day to the next, or due to things like holidays that aren’t the norm. If you would like to unsubscribe from these emails then please contact us directly to let us know at <a href="mailto:%contact_email%">%contact_email%</a>.</strong></p>
</body>
</html>