<html>
<head>
	<title>Losing Weight</title>
</head>
<body>
<p><img alt="The Family History Lifestyle Study" src="%genesis_logo%" style="width: 160px; height: 102px;" /></p>

<p>Dear %user_nicename%,</p>
<p>You have recorded a weight on the The Family History Lifestyle website which suggests that you have maintained your weight or you are losing weight very gradually.</p>

<p>If it was your goal to maintain your weight then well done! By maintaining your weight loss you are giving yourself the best chance of significantly reducing your risk of breast cancer, heart disease and diabetes. Re-gaining even a small amount of weight can undo your hard work so well done for staying on track.</p>
<p>If you had hoped to lose more weight but you are finding it difficult to shift those extra pounds, then don’t despair! Remember that weight loss naturally starts to slow down as your body adjusts to running on less food. To keep you burning calories, make sure you are staying active and getting enough protein in your diet (from foods like meat, fish, eggs, beans and pulses, like lentils). Activity and protein will help you to maintain your muscles and more muscles means you’ll be burning more calories. Also, maybe it’s time to check a few things:</p>
<ul>
	<li>Are your portion sizes starting to creep up? Try re-weighing some foods you eat regularly - it can be easy to overdo foods we pour out like cereals, pasta or oil.</li>
	<li>Are you including more treat foods or alcohol in your diet? </li>
</ul>

<p>If you feel you are staying on track with your diet and activity, then don’t forget <a href="%keeping_the_weight_off_link%" target="_blank">'The 2 Day Diet: keeping the weight off'</a> booklet – Section 1 helps you to reduce your allocated portions of carbs, protein and fat on your Mediterranean (non-diet) days if you think you might need that extra push.</p>

<p>Remember there are lots of ideas on the The Family History Lifestyle website. Don’t forget our FAQ section with lots of <a href="%hints_and_tips_link%" target="_blank">hints and tips</a> around making the 2 day diet work for you, such as when you are eating out. Also how about re-visiting our <a href="%diet_day_link%" target="_blank">diet day</a> and <a href="%med_day_link%" target="_blank">Mediterranean day</a> recipes to vary your meals and snacks, or our monthly <a href="%newsletters_link%" target="_blank">newsletters</a> for seasonal ideas?</p>

<p>If you have any specific questions for the team then you can contact us on 0161 291 4412 or email us at <a href="mailto:%contact_email%">%contact_email%</a></p>
<p>Wishing you all the best and looking forward to seeing you at your 12 month appointment.<br />
The Family History Lifestyle Team.</p>

<p><strong>Note: This email is intended as a means of support if you feel you need it. Please discard this email if you feel it isn’t appropriate for you. We understand that weight naturally fluctuates from one day to the next, or due to things like holidays that aren’t the norm. If you would like to unsubscribe from these emails then please contact us directly to let us know at <a href="mailto:%contact_email%">%contact_email%</a>.</strong></p>


</body>
</html>