<html>
<head>
	<title>Registration Successful</title>
</head>
<body>
<p><img alt="The Family History Lifestyle Study" src="%genesis_logo%" style="width: 160px; height: 102px;" /></p>

<p>Welcome to The Family History Lifestyle Study</p>

<p>Your registration has been successful.  A member of our research team will be in touch in 5-7 days to get you started. Keep your login information safe. You will be able to login after a member of our research team has activated your account</p>

<p>Here are your account details:</p>

<p><strong>Username:</strong> %user_email%</p>
<p><strong>Password:</strong> %user_pass%</p>

<p>Thanks,<br />
The Family History Lifestyle Team</p>

<p>&nbsp;</p>
</body>
</html>