<html>
<head>
	<title>Registration Successful</title>
</head>
<body>
<p><img alt="The 2 Day Wythenshawe Programme" src="%genesis_logo%" style="width: 160px; height: 160px;" /></p>

<p>Welcome to the 2 Day Wythenshawe Programme</p>

<p>Your registration has been successful. Please keep your login information safe.<br />
	You will be able to login after a member of our research team has activated your account following your welcome session.</p>

<p>Here are your account details:</p>

<p><strong>Username:</strong> %user_email%</p>
<p><strong>Password:</strong> %user_pass%</p>

<p>Thanks,<br />
The 2 Day Wythenshawe Team</p>

<p>&nbsp;</p>
</body>
</html>