<html>
<head>
	<title>Family History Lifestyle Study Reminder</title>
</head>
<body>
<p><img alt="The Family History Lifestyle Study" src="%genesis_logo%" style="width: 160px; height: 102px;" /></p>

<p>Hello there,</p>

<p>This is just a friendly reminder to log in to track your values using The Family History Lifestyle Study.</p>

<p><a href="%login_url%">Click here to log in</a></p>
<p>If you&#39;ve forgotten your password, please click <a href="%forgot_url%">here</a></p>

<p>You can stop these reminder emails by visiting your profile page and ticking the <em>"Opt out of reminder emails"</em> box</p>

<p>Thanks,<br />
The Family History Lifestyle Team</p>

<p>&nbsp;</p>
</body>
</html>